ErrorDocument 404 /404.html
DirectoryIndex index.html
Options -Indexes

RewriteEngine On

# Serve real files directly
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# /about -> /about.html, /blogs -> /blogs.html, /blogs/x -> /blogs/x.html
RewriteCond %{DOCUMENT_ROOT}/$1.html -f
RewriteRule ^(.+?)/?$ /$1.html [L]