NODE_ENV=development
PORT=4000
DATABASE_URL="postgresql://postgres:01%40Mobilephon@db.tuxapswmzxluoyapjfkl.supabase.co:5432/postgres"
JWT_ACCESS_SECRET="supersecret_access"
JWT_REFRESH_SECRET="supersecret_refresh"
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d
FRONTEND_URL="http://localhost:3000"
REDIS_URL="redis://localhost:6379"
SUPABASE_URL="https://tuxapswmzxluoyapjfkl.supabase.co"
SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_CALLBACK_URL="http://localhost:4000/api/auth/google/callback"

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GITHUB_CALLBACK_URL="http://localhost:4000/api/auth/github/callback"